# 1. Python Ouput

In [2]:
#X() it is showed then called fumction
# Python is a case sensitive language
print("Hello word!")

Hello word!

In [3]:
print("salmaan khan")

salmaan khan

In [4]:
print(salmaan khan) 'that is resason , not be in inverted comma'

SyntaxError: invalid syntax (2665506861.py, line 1)

In [5]:
print(True)

True

In [7]:
print("hello",1,2,4.5,True)

hello 1 2 4.5 True

In [8]:
print("hello",1,2,4.5,True,sep = '/')

hello/1/2/4.5/True

In [9]:
print('hello')
print('world')

hello
world

In [10]:
print('hello', end = '-')
print('world')

hello-world

# 2. Data Type

In [12]:
# Integer
print(8)
print(1e308)

8
1e+308

In [15]:
# decimal
print(8.55)
print(1.7e308)

8.55
1.7e+308

In [16]:
# Boolean
print(True)
print(False)

True
False

In [17]:
# Text/String
print("Hello World")

Hello World

In [18]:
# complex number
print(5+6j)

(5+6j)

In [19]:
# List -> c-Array
print([1,2,3,4])

[1, 2, 3, 4]

In [20]:
#Tuple
print((1,2,3,4))

(1, 2, 3, 4)

In [21]:
#set 
print({1,2,3,4})

{1, 2, 3, 4}

In [25]:
# Dictionary
print({'name': 'nitesh','Gender':'Male','Age': 60})

{'name': 'nitesh', 'Gender': 'Male', 'Age': 60}

In [26]:
type(3)

int

# 3 Variable

In [24]:
# Variable is basically containter there  is future use 
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# Stylisg declarations techniques

In [27]:
# c/c++
 int name = 'nitish'

IndentationError: unexpected indent (3214000564.py, line 2)

In [28]:
name = 'sonu'
print(name)

sonu

In [29]:
a = 5
b = 6
print(a+b)

11

In [30]:
# Dynamic Typing

In [32]:
a = 5
#Static Typing
int a = 5

SyntaxError: invalid syntax (2737360623.py, line 3)

In [35]:
# Dynamic bindding
a = 5
print(a)
a = 'nitish'
print(a)

# Static Binding
Int a = 5

SyntaxError: invalid syntax (1252812266.py, line 8)

In [36]:
a =1
b= 2 
c = 3
print(a,b,c)

1 2 3

In [37]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [38]:
a=b=c = 5
print(a,b,c)

5 5 5

# 4. Keywords & Identifiers

In [39]:
# keywords
#identifers
#You can'nt start with a digit

 name = 'nitish'
# You can use special char ->
_ = 'nitish'

IndentationError: unexpected indent (1482732209.py, line 5)

# 5. Input

In [41]:
input('enter the name')

enter the name tanish

'tanish'

In [45]:
#take input from users and store them in a variable
fnum =int(input('enter first num'))
snum = int(input('enter second num'))
print(fnum,snum)
# add the 2 variables 
result = fnum + snum
# print the result 
print(result)

enter first num 67
enter second num 67

67 67
134

# 6 Type conversion

In [47]:
#Implicit vs Explicit
print(5+5.6) # Implicit
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [49]:
# Explicit
# str -> int
int(4.5)
int(4 + 5j)

TypeError: can't convert complex to int

In [51]:
# int to str
str(5)
# float 
float(5)

5.0

# 7. Literal

In [53]:
a = 0b1010 #Binary Literal
b = 100 #decimal Literal
c = 0o310 #Octal Literal
d = 0x12c # Hexadecimal Literal

# Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 *10^-3
# Complex Literal
x = 3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x)

10 100 200 300
10.5 150.0 0.0015
3.14j

# 8. String

In [55]:
string = 'This is python'
strings = "This is python"
char = "C"
multiline_str = """This is a multiline string with more than one line code """
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"


print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is python
This is python
C
This is a multiline string with more than one line code
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [56]:
a = True +4
b = False +10

print("a:",a)
print("b:",b)

a: 5
b: 10

In [58]:
a = None
print(a)

None

## Operators
# .Arithmetic Operators
# . Relational Operators
# . Logical Operators
# . Bitwise Operators
# .Assignment Operators
# . Membership Operators

In [62]:
# Arithmetic Operators
print(5+6)

print(6-5)

print(6*5)

print(5/2)

print(5//2) # integer division

print(5%2) # modulus which get the remiander
print(5**2) # power of

11
1
30
2.5
2
1
25

In [63]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=5)

print(4<= 5)

print(4==4)

print(4!= 5)

False
True
False
True
True
True

In [64]:
# Logical operators
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [69]:
# Biwise operators is work on  binary operator
# bitwise and
print(2 & 3)

# BITWISE OR
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4>>2)
print(5<<2)

2
3
1
-4
1
20

In [72]:
# assignment operators 
# =

# a = 2

# a = 2
# a += 2
# a = a + 2
a %= 2
# a = a %2

print(a)

0

In [75]:
# Membership Operators
# in / not in
print('D' in 'Delhi')
print('D' not in 'Delhi')

True
False

In [3]:
# Program - Find the sum of a 3 digit number entred by the users
num_first = int(input('Enter the first Number'))
num_second = int(input('Enter the second Number'))
num_third = int(input('Enter the third Number'))
result = num_first+num_second+num_third

print("Sum of the total number",result)

Enter the first Number 1
Enter the second Number 2
Enter the third Number 3

Sum of the total number 6

In [9]:
number = int(input('Enter a 3 digit number'))

# 345% -> 5
a = number%10
#34%10
number = number//10
b = number%10
number = number //10
c = number%10
print(a+b+c)

Enter a 3 digit number 345

12

In [7]:
34%10

4

# If and Else

In [14]:
# Login program and indentation
email = input('Enter the Email')
password = input('Enter the password')

if email == 'tanish@gmail.com' and password == '1234':
    print('Welcome')
else:
    print('Not Correct')

Enter the Email dfghdfgkjh
Enter the password dfdf

Not Correct

In [15]:
email = input('Enter the Email')
password = input('Enter the password')

if email == 'tanish@gmail.com' and password == '1234':
    print('Welcome')
elif email == 'tanish@gmail.com' and password != '1234':
    print('incorrect password')
    password = input('Enter the again the password')
    if password == '1234':
        print('Login Suceessfull')
    else:
        print('incorrect password!')
    
else:
    print('Not Correct')

Enter the Email tanish@gmail.com
Enter the password dfddgdfg

incorrect password

Enter the again the password vvvdf

incorrect password!

In [18]:
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
c = int(input("Enter the third number"))

if a<b and b<c:
    print("a is smallest:",a)
elif b<c:
    print("b is smallest:", b)
else:
    print("c is smallest:",c)

Enter the first number 5
Enter the second number 7
Enter the third number 1

c is smallest: 1

In [21]:
fnum = int(input("Enter the first number"))
snum = int(input("Enter the Second number"))

op = input("Enter the Operation")

if op == '+':
    print(fnum + snum)
elif op == '-':
    print(fnum - snum)
elif op == '*':
    print(fnum * snum)
else:
    print(fnum / snum)

Enter the first number 35
Enter the Second number 7
Enter the Operation /

5.0

In [29]:
menu = input("""
Hi how can i help you
1. Enter 1 for pin channe
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
    print('pin change')
elif menu == '2':
    print('Balance')
elif menu == '3':
    print('withdraw')
else:
    print('Exit')

Hi how can i help you
1. Enter 1 for pin channe
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
 4

Exit

## Modules in python
# .math
#.keywords
#.constant
#.random

In [32]:
# math
import math

math.factorial(5)
math.sqrt(196)

14.0

In [33]:
import keyword

In [34]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [267]:
# random
import random
print(random.randint(1,100))

98

In [269]:
# datetime
import datetime
print(datetime.datetime.now())

2025-11-06 17:22:12.167412

In [4]:
help(#'moduless')

SyntaxError: incomplete input (1721786804.py, line 1)

## Loop in python

#. Need for loops
# . while loop
# . for loop

In [7]:
# While loop example -> program to print the table 
# program -> Sum of all digit of a given number
# progran -> keep accepting numbers from users he/she enters 0 and then find the avg

In [5]:
# while loop with else
num = int(input("Enter the number"))
i = 1
while i <11:
    print(num,"*",i,"=",num*i)
    i +=1

Enter the number 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [7]:
x = 1
while x<3:
    print(x)
    x +=1
else:
    print('limt cross')

1
2
limt cross

In [ ]:
# gussing game


# generate a random integer 1 and 100

import random
jackpot=random.randint(1,100)

guess = int(input('guess the number'))
counter = 1
while guess != jackpot:
    if guess < jackpot:
        print('worng! guess the higher')
    else:
        print('wrong! guess the lower')
    guess = int(input('guess the number'))
    counter += 1
else:
    print('correct guess')
    print('attempted',counter)

guess the number 45

wrong! guess the lower

guess the number 30

wrong! guess the lower

guess the number 60

wrong! guess the lower

guess the number 70

wrong! guess the lower

guess the number 90

wrong! guess the lower

guess the number 100

wrong! guess the lower

guess the number 101

wrong! guess the lower

guess the number 52435345345

wrong! guess the lower

In [13]:
random.randint(1,100)

43

In [9]:
# For loop demo

for i in range(1,11,4):
     print(i)

1
5
9

In [11]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [13]:
for i in 'Delhi':
    print(i)

D
e
l
h
i

In [18]:
# for loop example
curr_pop = 10000

for i in range(10,0,-1):
    print(i,curr_pop)
    curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [37]:
n = int(input('Enter the n'))

result = 0
fact = 1

for i in range(1, n+1):
    fact = fact*i
    result = result + i/fact
print(result)

Enter the n 5

2.708333333333333

# Nested Loop

In [41]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [66]:
rows = int(input('enter number of row'))

for i in range(1, rows +1):
    for j in range(1,i +1):
        print('*',end='')
    print()

enter number of row 5

*
**
***
****
*****

In [64]:
rows=int(input('enter number of  the rows'))
for i in range(1,rows+1 ):
    for j in range(1, i+1):
        print(j, end = '')
    for k in range(i-1,0,-1):
        print(k,end = '')
    print()

enter number of  the rows 5

1
121
12321
1234321
123454321

# Loop control statement
## . Break
## . continue
## . pass

In [78]:
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [106]:
lower = int(input('enter the lower range'))
upper = int(input('enter the upper range'))

for i in range(lower , upper +1):
    for j in range(2,i):
    
        if i%j == 0:
            print('whole number number',j)
            break
          
            
    else:
        print('prime number',i)

enter the lower range 10
enter the upper range 100

whole number number 2
prime number 11
whole number number 2
prime number 13
whole number number 2
whole number number 3
whole number number 2
prime number 17
whole number number 2
prime number 19
whole number number 2
whole number number 3
whole number number 2
prime number 23
whole number number 2
whole number number 5
whole number number 2
whole number number 3
whole number number 2
prime number 29
whole number number 2
prime number 31
whole number number 2
whole number number 3
whole number number 2
whole number number 5
whole number number 2
prime number 37
whole number number 2
whole number number 3
whole number number 2
prime number 41
whole number number 2
prime number 43
whole number number 2
whole number number 3
whole number number 2
prime number 47
whole number number 2
whole number number 7
whole number number 2
whole number number 3
whole number number 2
prime number 53
whole number number 2
whole number number 5
whole number number 2
whole number number 3
whole number number 2
prime number 59
whole number number 2
prime number 61
whole number number 2
whole number number 3
whole number number 2
whole number number 5
whole number number 2
prime number 67
whole number number 2
whole number number 3
whole number number 2
prime number 71
whole number number 2
prime number 73
whole number number 2
whole number number 3
whole number number 2
whole number number 7
whole number number 2
prime number 79
whole number number 2
whole number number 3
whole number number 2
prime number 83
whole number number 2
whole number number 5
whole number number 2
whole number number 3
whole number number 2
prime number 89
whole number number 2
whole number number 7
whole number number 2
whole number number 3
whole number number 2
whole number number 5
whole number number 2
prime number 97
whole number number 2
whole number number 3
whole number number 2

In [110]:
# continue

for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9