# Tuples

# A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

# In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

# Characterstics

# - Ordered
# - Unchangeble
# - Allows duplicate

# Plan of attack

# - Creating a Tuple
# - Accessing items 
# - Editing items
# - Adding items
# - Deleting items
# - Operations on Tuples
# - Tuple Functions

In [19]:
# creating
t1 = ()
print(t1)
# create a tuple with a  single item
t2 = (2,)
print(type(t2))
# hemo
t3 = (1,2,3,4,5)
print(t3)
# hetro
t4 = (1,2,3,True,[1,2,3])
print(t4)
t5 = (1,2,3,(2,4))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2, 3, True, [1, 2, 3])
(1, 2, 3, (2, 4))
('h', 'e', 'l', 'l', 'o')

In [27]:
# Accessing Items
# index
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4, 5)
1
5

In [29]:
print(t3[0:3])

(1, 2, 3)

In [31]:
print(t3[::-1])

(5, 4, 3, 2, 1)

In [33]:
t5

(1, 2, 3, (2, 4))

In [37]:
t5[-1][0]

2

In [39]:
# editing
t3[0] = 100
# tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
# adding items
# not possible

In [43]:
# deleting
print(t3)
del t3
print(t3)

(1, 2, 3, 4, 5)

NameError: name 't3' is not defined

In [45]:
det t3[-1]

SyntaxError: invalid syntax (2759464348.py, line 1)

In [47]:
t = (1,2,3,4,5)
t[-1:-4:-1]

(5, 4, 3)

In [53]:
# operations on tuple
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)
print(t1*3)

# membership
1 in t1
#iteration

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

True

In [55]:
for i in t1:
    print(i)

1
2
3
4

In [57]:
# len / max/ min/ sorted/ sum
t= (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t, reverse = True)

[4, 3, 2, 1]

In [59]:
# count
t = (1,2,3,3,4,5)
t.count(3)

2

In [61]:
t.index(5)

5

In [7]:
import time

L = [1, 2, 3, 4, 5]
T = (1, 2, 3, 4, 5)

# Time the list loop
start = time.time()  # define 'start' before the loop
for i in L:
    i * 5
print('List time:', time.time() - start)

# Time the tuple loop
start = time.time()
for i in T:
    i * 5
print('Tuple time:', time.time() - start)

List time: 0.0009996891021728516
Tuple time: 0.0

In [9]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size', sys.getsizeof(L))
print('Tuple size', sys.getsizeof(T))

List size 8056
Tuple size 8040

In [13]:
# error prone
a = [1,2,3,4]
b = a
a.append(5)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [17]:
a = (1,2,3)
b = a+(4,)
print(a)
print(b)

(1, 2, 3)
(1, 2, 3, 4)

In [19]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)
print(a)
print(b)
print(c)

1 2 3
1
2
3

In [21]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [23]:
a =1
b= 2
a,b = b,a
print(a,b)

2 1

In [29]:
a,b ,*other = (1,2,3,4)
print(a,b)
print(other)

1 2
[3, 4]

In [37]:
# zip
a = (1,2,3,4)
b = (5,6,7,8)

print(list(zip(a,b)))
print(tuple(zip(a,b)))

[(1, 5), (2, 6), (3, 7), (4, 8)]
((1, 5), (2, 6), (3, 7), (4, 8))

In [39]:
(i for i in a)

# set
# Charcterstics
# Unordered
# mutable
# no Duplicate
# can't contanin mutable data types

In [50]:
# empyt
s = set()
print(s)
print(type(s))
# 1D and 2D
s = {1,2,3}
print(type(s))
s2 = {1,2,3,{2,3}}
print(s2)

set()
<class 'set'>
<class 'set'>

TypeError: unhashable type: 'set'

In [54]:
#hetro
s={1,'hello',4.5,(1,2,3)}
print(s)

{1, (1, 2, 3), 4.5, 'hello'}

In [56]:
# using type conversion
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [60]:
# set is not allowed duplicate values
s = {1,2,3,4,5,3,4}
print(s)

{1, 2, 3, 4, 5}

In [62]:
# set can not have mutable items
s6 = {1,2,3,[2,3]}

TypeError: unhashable type: 'list'

In [64]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

# Accessing items

In [69]:
s1 = {1,2,3,4}
s1[0]

TypeError: 'set' object is not subscriptable

In [71]:
s1 = {1,2,3,4}
s1[1] =100

TypeError: 'set' object does not support item assignment

In [75]:
s1 = {1,2,3,4}
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

In [77]:
# update
s1.update([5,6,7,8])

In [79]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [81]:
#delete
s = {1,2,3,4}
print(s)
del s
print(s)

{1, 2, 3, 4}

NameError: name 's' is not defined

In [85]:
s = {1,2,3,4,5}

# discard
s.discard(5)
s

{1, 2, 3, 4}

In [93]:
s.remove(3)
s

{1, 2}

In [95]:
s = {1,2,3,4,5}
s.pop()

1

In [97]:
s = {1,2,3,4,5}
s.clear()

In [99]:
s

set()

In [117]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#union(|)
s1 | s2
# intersections(&)
s1 & s2
# difference
s1 - s2
s2 - s1
# symmetric
s1 ^ s2
#membership test
1 not in s1
# iteration
for i in s1:
    print(i)

1
2
3
4
5

In [123]:
# len /max/min/ sorted
s = {1,2,3,4,5,6,7}
min(s)
max(s)
sum(s)
len(s)
sorted(s)

[1, 2, 3, 4, 5, 6, 7]

In [125]:
# union/update
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s1)

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [127]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [129]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [131]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [133]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

True

In [135]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [137]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

In [141]:
# frozen set
fs = frozenset([1,2,3,4])
fs

frozenset({1, 2, 3, 4})

In [143]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
# what - work and does not
# work -> all read functions
# does't work --> wirte opereartion

In [145]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

In [147]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

In [149]:
# Dictionary

# Dictionary

# Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

# In some languages it is known as map or assosiative arrays.

# dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

# Characterstics:

# - Mutable
# - Indexing has no meaning
# - keys can't be duplicated
# - keys can't be mutable items

In [152]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4
# duplicate keys
d5 = {'name':'nitish','name':'rahul'}
d5
# mutable items as keys
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'nitish', (1, 2, 3): 2}

In [154]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']
# get
my_dict.get('age')

s['subjects']['maths']

67

In [156]:
d4['gender'] = 'male'
d4
d4['weight'] = 72
d4

s['subjects']['ds'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

In [158]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
#d.pop(3)
#print(d)
# popitem
#d.popitem()
# d.popitem()
# print(d)
# del
#del d['name']
#print(d)
# clear
d.clear()
print(d)

del s['subjects']['maths']
s

{}

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

In [160]:
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

In [162]:
print(s)

'name' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

True

In [164]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

In [166]:
# len/sorted
len(d)
print(d)
sorted(d,reverse=True)
max(d)

{'name': 'nitish', 'gender': 'male', 'age': 33}

'name'

In [168]:
# items/keys/values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'nitish', 'gender': 'male', 'age': 33}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

In [170]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

In [172]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [174]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [176]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [178]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}